.tabsDynamicHeight md-content h1:first-child {
    margin-top: 0px;
}

.position {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

hr {
    border: none;
    background-color: darkgray;
    color: darkgray;
    height: 1px;
}

/*********************/
.main {
    //background: #ccc;
    margin: 30px 30px 0 30px;
    padding: 0 0 0 0;
}

.frame {
    margin: 0 0 0 0;
    padding: 0 20px 20px 20px;
}

.message {
    font-weight: bold;
    text-align: left;
    color: #dea093;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
}

.form_message {
    font-weight: bold;
    text-align: left;
    color: #dea093;
    margin: 20px 0 20px 0;
}

.action_legend {
    font-weight: bold;
    text-align: left;
    color: crimson
}

.action_message {
    font-weight: bold;
    text-align: left;
    color: #7565b7
}

.link {
    border: 1px solid #dea093; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}

.link:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}