<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot MVC</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet' href='https://gitcdn.xyz/cdn/angular/bower-material/v1.1.20/angular-material.css'>
    <link rel='stylesheet' href='https://material.angularjs.org/1.1.20/docs.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="admin">
    <!--------------------------- select type and save product ---------------------------->
    <div class="admin_save">
        <form action="/save-user" th:object="${user}" method="post">
            <fieldset>
                <legend><h5 class="admin_action_legend">save user</h5></legend>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="login" class="form-control" type="text" th:field="${user.login}" placeholder = "login"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="password" class="form-control" type="text" th:field="${user.password}" placeholder = "password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button class="btn btn-default">save</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="message">
                <fieldset>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-md-80">
                                <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                <span th:if="${message}" th:text="${message}"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <!------------------------ delete and find all product by type ------------------------>
    <div class="admin_delete_and_find_all_smart_phone">
        <form>
            <fieldset>
                <legend><h5 class="admin_action_legend">get all user and delete user by id</h5></legend>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>login</th>
                            <th>password</th>
                            <th>delete by id</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user1 : ${users}">
                            <td th:text="${user1.id}"></td>
                            <td th:text="${user1.login}"></td>
                            <td th:text="${user1.password}"></td>
                            <!--<td><button class="btn btn-default" href="/deleteUser">-</button></td>-->
                            <!--<td><a href="/deleteUser" th:method="post">delete</a></td>-->
                            <!--<td><a href="/deleteUser">Delete</a></td>-->
                            <td>
                                <form action="/deleteUser" th:object="${user1}" method="post">

                                    <fieldset>
                                        <legend><h5 class="admin_action_legend">save user</h5></legend>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" th:field="${user1.id}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" th:field="${user1.login}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" th:field="${user1.password}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-8">
                                                    <button class="btn btn-default">delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</div>

</body>
</html>