<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="ENG">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot MVC SECURITY</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet' href='https://gitcdn.xyz/cdn/angular/bower-material/v1.1.20/angular-material.css'>
    <link rel='stylesheet' href='https://material.angularjs.org/1.1.20/docs.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="main">

    <!--------------------------------- logout user ---------------------------->
    <div class="frame" sec:authorize="isAuthenticated()">
        <fieldset>
            <legend><h5 class="action_legend">logout user [[${#httpServletRequest.remoteUser}]]!</h5></legend>
            <div>
                <a class="link" th:href="@{/logout}">logout</a>
            </div>
        </fieldset>
    </div>
    <!--------------------------------- login user ---------------------------->
    <div class="frame" sec:authorize="!isAuthenticated()">
        <fieldset>
            <legend><h5 class="action_legend">login user</h5></legend>
            <div>
                <a class="link" th:href="@{/login}">login</a>
            </div>
        </fieldset>
    </div>
    <!--------------------------- registration new user --------------------------->
    <div class="frame" sec:authorize="!isAuthenticated()">
        <fieldset>
            <legend><h5 class="action_legend">registration new user</h5></legend>
            <div>
                <a class="link" th:href="@{/registration}">registration new user</a>
            </div>
        </fieldset>
    </div>
    <!--------------------------- only user page --------------------------->
    <div class="frame" sec:authorize="hasRole('ROLE_USER')">
        <fieldset>
             <legend><h5 class="action_legend">only user page</h5></legend>
            <div>
                <a class="link" th:href="@{/user}">user page </a>
            </div>
        </fieldset>
    </div>
    <!--------------------------- only admin page --------------------------->
    <div class="frame" sec:authorize="hasRole('ROLE_ADMIN')">
        <fieldset>
            <legend><h5 class="action_legend">only admin page</h5></legend>
            <div>
                <a class="link" th:href="@{/admin}">link visibly only admin</a>
            </div>
        </fieldset>
    </div>
    <!-------------------------- only user and admin page --------------------------->
    <div class="frame" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
        visibly only admin and registration user
    </div>
    <!--------------------------- public page (all users) --------------------------->
    <div class="frame">
        <fieldset>
            <legend><h5 class="action_legend">public page</h5></legend>
            <div>
                <a class="link" th:href="@{/public}">visible all user</a>
            </div>
        </fieldset>
    </div>
    <!----------------------------------------- message -------------------------------------------->
    <div class="message">
        <fieldset>
            <legend><h5 class="action_message">[message]:</h5></legend>
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-md-80">
                        <span th:if="${message}" th:text="${message}"></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <!---------------------------------------------------------------------------------------------->
</div>

</body>
</html>