<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Security</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet' href='https://gitcdn.xyz/cdn/angular/bower-material/v1.1.20/angular-material.css'>
    <link rel='stylesheet' href='https://material.angularjs.org/1.1.20/docs.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="main">
    <!------------------------------------------- registration new user ----------------------------------------------->
    <div class="frame">
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <fieldset>
                <legend><h5 class="action_legend">Registration page</h5></legend>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="login" class="form-control" type="text" th:field = "${user.login}" placeholder = "username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="password" class="form-control" type="password" th:field = "${user.password}" placeholder = "password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="passwordConfirm" class="form-control" type="password" th:field = "${user.passwordConfirm}" placeholder = "passwordConfirm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button class="btn btn-default">registration</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!----------------------------------------- message -------------------------------------------->
            <div class="form_message">
                <fieldset>
                    <legend><h5 class="action_message">[message]:</h5></legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-md-80">
                                <span th:if="${#fields.hasErrors('login')}" th:errors="${user.login}"><br></span>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="${user.password}"><br></span>
                                <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="${user.passwordConfirm}"><br></span>
                                <span th:if="${passwordError}" th:text="${passwordError}"><br></span>
                                <span th:if="${userLoginError}" th:text="${userLoginError}"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!---------------------------------------------------------------------------------------------->
        </form>
    </div>
    <!------------------------------------------------------------------------------------------------------>
</div>

</body>
</html>